@import '../abstract/variaveis';

.container {
    display: grid;
    place-items: center;
    height: 100px;
    background: $cor-principal;
    width: 360px;
    cursor: default;
    border-radius: 12px;
    animation: animate 2.1s linear infinite;

    .display {
        display: grid;
        place-items: center;
        background-color: $cor-secundaria;
        border-radius: 12px;
        height: 85px;
        width: 340px;
        z-index: 999;
    }

    .horas {
        font-size: 50px;
        font-weight: 580;
        letter-spacing: 1px;
        background: $cor-principal;
        background-clip: text;
        color: transparent;
        animation: animate 2.4s linear infinite;
    }
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}