//Fontes
$fonte-principal: sans-serif;

//Cor Página
$cor-de-fundo: #2B2730;

//Cores Relógio
$cor-principal: linear-gradient(130deg, #5D9C59, #F6FA70, #FF0060);
$cor-secundaria: #2B2730;
$cor-terciaria: #fff